
<!doctype html>
<html class="no-js" lang="<%= _lang_ %>">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= activity-shopping-cart.title %></title>
    <meta name="description" content="<%= activity-shopping-cart.meta-description %>"/>
    <link rel="stylesheet" href="/assets/css/app.css">
</head>

<body class="activity-shopping-cart mybooking-activity-shopping-cart">

    
    <div class="cta cta__bg cta__text">
      <div class="d-none d-sm-block">
        <span><i class="fas fa-phone"></i> <a href="+34 888 88 88 88">+34 888 88 88 88</a></span>
        <span class="mr-auto ml-3">
          <i class="far fa-envelope"></i>
          <a class="color-white" href="mailto:info@johndoe.com">info@johndoe.com</a>
        </span>
      </div>
      <div class="d-block d-sm-none text-center">
        <span class="mr50"><a href="+34 888 88 88 88"><i class="fas fa-phone"></i></a></span>
        <span class="ml50">
          <a class="color-white" href="mailto:info@johndoe.com"><i class="far fa-envelope"></i></a>
        </span>
      </div>
    </div><nav class="navbar navbar-expand-lg navbar-dark bg-nav">
      <a class="navbar-brand" href="index.html">
        <div class="logo-white"></div>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="index.html" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <%= nav.home %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="index.html">Index</a>
              <a class="dropdown-item" href="index_1.html">Index 1</a>
              <a class="dropdown-item" href="index_2.html">Index 2</a>
              <a class="dropdown-item" href="activity.html">Activity 1</a>
              <a class="dropdown-item" href="activity2.html">Activity 2</a>                    
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="conditions.html"><%= nav.conditions %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html"><%= nav.contact %></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-globe-europe"></i> <%= nav.language %>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item es visible" href="/activity-shopping-cart.html"><%= nav.es %></a>
              <a class="dropdown-item en visible" href="/en/activity-shopping-cart.html"><%= nav.en %></a>
              <a class="dropdown-item ca visible" href="/ca/activity-shopping-cart.html"><%= nav.ca %></a>
              <a class="dropdown-item it visible" href="/it/activity-shopping-cart.html"><%= nav.it %></a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Activities : Shopping cart page -->
    <div class="container-fluid px-0" style="background-color: #3a3e3e">
      <div class="row no-gutters">
        <div class="col-12 col-md-6 col-lg-4 activities-sidebar">
          <!-- Products -->
          <div id="selected_products"></div>
        </div>
        <div class="col-12 col-md-6 col-lg-8 activities-content">
          <div class="activities-content__widget-wrapper">
            <div class="activity-content__widget">
              <form id="form-reservation" name="reservation_form" method="post" autocomplete="off" class="d-block">
    
                <div id="reservation_container"></div>
                <!-- Reservation buttons -->
                <div id="reservation_error" class="alert alert-danger w-100 p-3" style="display:none">
                </div>
                <div id="payment_detail"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Activities : Shopping cart page -->
    
    <!-- Microtemplates -->
    <script type="text/tpml" id="script_shopping_cart_empty">
      <h3 class="color-white">Su compra</h3>
      <hr>
      <p class="color-white">El carrito de la compra está vacío</p>
    </script>
    
    <script type="text/tpml" id="script_products_detail">
      <div class="d-flex align-content-center justify-content-between">
        <h3 class="color-white m-3">Su compra</h3> <span class="badge badge-secondary align-self-center mr-3 p-2"><%= configuration.formatCurrency(shopping_cart.total_cost) %></span>
      </div>
      
      <% for (idx in shopping_cart.items) { %>
      <div class="activity-card">
        <div class="card-img-bg-color">
            <div class="activity-card__img">
              <img src="<%=shopping_cart.items[idx].photo_full%>" alt=""/>
            </div>
            <div class="trash-button btn-delete-shopping-cart-item"
                data-item-id="<%=shopping_cart.items[idx].item_id%>"
                data-date="<%=shopping_cart.items[idx].date%>"
                data-time="<%=shopping_cart.items[idx].time%>">
                <i class="fas fa-trash-alt"></i>
            </div>
            <div class="activity-card__img-text">
              <h5 class="card-title color-white"><%=shopping_cart.items[idx].item_description_customer_translation%></h5>
              <p class="card-text color-white"><%= configuration.formatDate(shopping_cart.items[idx].date) %> <%= shopping_cart.items[idx].time %></p>
            </div>
          </div><!-- /bg-color -->
          <table class="table">
            <tbody>
              <% for (var x=0; x<shopping_cart.items[idx]['items'].length; x++) { %>
                <tr>
                    <td><%=shopping_cart.items[idx]['items'][x].quantity %>
                        <%=shopping_cart.items[idx]['items'][x].item_price_description %> x
                        <%=configuration.formatCurrency(shopping_cart.items[idx]['items'][x].item_unit_cost) %>
                    </td>
                    <td class="text-right">
                        <%=configuration.formatCurrency(shopping_cart.items[idx]['items'][x].item_cost) %>
                    </td>
                </tr>
              <% } %>  
              <tr>
                <td><strong>Total</strong></td>
                <td class="text-right"><%=configuration.formatCurrency(shopping_cart.items[idx]['total'])%></td>
              </tr>
            </tbody>
          </table>
      </div><!-- /activity-card -->
        <% } %>
    </script>
    
    <!-- Script used to render the reservation summary -->
    <script type="text/tmpl" id="script_reservation_summary">
    </script>
    
    <!-- Script customer -->
    <script type="text/tmpl" id="script_reservation_form">
      <input type="hidden" name="customer_language" value="<%=language%>"/>
        <h4 class="color-white">Cliente</h4>
        <hr>
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="form-group">
              <label for="customer_name">Nombre*</label>
              <input name="customer_name" id="customer_name" type="text" class="w-100" placeholder="Nombre">
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="form-group">
              <label for="customer_surname">Apellidos*</label>
              <input name="customer_surname" id="customer_surname" type="text" class="w-100"  placeholder="Apellidos">
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
              <div class="form-group">
                <label for="customer_email">Correo electrónico*</label>
                <input name="customer_email" id="customer_email" type="text" class="w-100"  placeholder="Correo electrónico">
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="form-group">
                <label for="confirm_customer_email">Confirmación correo electrónico*</label>
                <input name="confirm_customer_email" id="confirm_customer_email" class="w-100"  type="text" placeholder="Confirmación del correo electrónico">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-lg-6">
              <div class="form-group">
                <label for="customer_phone">Teléfono*</label>
                <input name="customer_phone" id="customer_phone" type="text" class="w-100"  placeholder="Teléfono">
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="form-group">
                <label for="confirm_customer_email">Teléfono alternativo</label>
                <input name="confirm_customer_email" id="confirm_customer_email" class="w-100"  type="text" placeholder="Teléfono alternativo:">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="comments">Comentarios</label>
                <textarea class="w-100 p-3" name="comments" id="comments" placeholder="Comentarios" style="height: 100px"></textarea>
              </div>
            </div>
          </div>
    </script>
    
    <!-- Script payment -->
    <script type="text/tmpl" id="script_payment_detail">
    
      <input type="hidden" name="payment" value="none">
    
      <% if (canRequestAndPay) { %>
        <hr>
        <div class="form-row">
           <% if (shopping_cart.can_make_request) { %>
             <div class="form-group col-md-12">
               <label>
                <input type="radio" name="complete_action" value="request_reservation" class="complete_action">&nbsp;Solicitd de reserva
               </label>
             </div>
           <% } %>
           <% if (canPay) { %>
           <div class="form-group col-md-12">
             <label>
              <input type="radio" name="complete_action" value="pay_now" class="complete_action">&nbsp;Pagar ahora
             </label>
           </div>
           <% } %>
        </div>
      <% } %>
    
      <!-- Request reservation -->
    
      <% if (shopping_cart.can_make_request) { %>
      <div id="request_reservation_container" <% if (canRequestAndPay) { %>style="display:none"<%}%>>
        <div class="border p-4">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>
                <input type="checkbox" id="conditions_read_request_reservation" name="conditions_read_request_reservation">&nbsp;Acepto los términos y condiciones y la política de privacidad
              </label>
            </div>
          </div>
    
          <div class="form-row">
            <div class="form-group col-md-12">
              <button type="submit" class="btn btn-success w-100">Solicitud de reserva</button>
            </div>
          </div>
        </div>
      </div>
      <% } %>
    
    
      <% if (canPay) { %>
    
        <div id="payment_now_container" <% if (canRequestAndPay) { %>style="display:none"<%}%>>
    
            <div class="border p-4">
                <h4><%=i18next.t('complete.reservationForm.total_payment', {amount: configuration.formatCurrency(paymentAmount)})%></h4>
                <br>
    
                <!-- Payment amount -->
    
                <div class="alert alert-info">
                   <p><%=i18next.t('complete.reservationForm.booking_amount',{amount: configuration.formatCurrency(paymentAmount)})%></p>
                </div>
    
                <% if (shopping_cart.payment_methods.paypal_standard &&
                       shopping_cart.payment_methods.tpv_virtual) { %>
                    <div class="form-row">
                       <div class="form-group col-md-12">
                         <label for="payments_paypal_standard">
                          <input type="radio" id="payments_paypal_standard" name="payment_method_select" class="payment_method_select" value="paypal_standard">&nbsp;Paypal
                          <img src="assets/images/pm-paypal.jpg"/>
                         </label>
                       </div>
                       <div class="form-group col-md-12">
                         <label for="payments_credit_card">
                          <input type="radio" id="payments_credit_card" name="payment_method_select" class="payment_method_select" value="<%=shopping_cart.payment_methods.tpv_virtual%>">&nbsp;Tarjeta de crédito/débito
                          <img src="assets/images/pm-visa.jpg"/>
                          <img src="assets/images/pm-mastercard.jpg"/>
                         </label>
                       </div>
                    </div>
                    <div id="payment_method_select_error" class="form-row">
                    </div>
                <% } else if (shopping_cart.payment_methods.paypal_standard) { %>
                    <img src="assets/images/pm-paypal.jpg"/>
                    <input type="hidden" id="payment_method_value" value="paypal_standard">
                <% } else if (shopping_cart.payment_methods.tpv_virtual) { %>
                    <img src="assets/images/pm-mastercard.jpg"/>
                    <img src="assets/images/pm-visa.jpg"/>
                    <input type="hidden" id="payment_method_value" value="<%=shopping_cart.payment_methods.tpv_virtual%>">
                <% } %>
    
                <hr>
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="payments_paypal_standard">
                      <input type="checkbox" id="conditions_read_pay_now" name="conditions_read_pay_now">&nbsp;Acepto los términos y condiciones y la política de privacidad
                    </label>
                  </div>
                </div>
    
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-success w-100"><%=i18next.t('complete.reservationForm.payment_button',{amount: configuration.formatCurrency(paymentAmount)})%></a>
                  </div>
                </div>
            </div>
    
        </div>
    
      <% } %>  
    
    
    </script>
    
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3">
        <div class="logo-footer"></div>
        <ul>
          <li>Company name</li>
          <li>88888888</li>
          <li>Polígon Industrial</li>
          <li>07730 Alaior</li>
          <li>Menorca - Illes Balears</li>
          <li><i class="fas fa-phone"></i> +34 888 88 88 88</li>
          <li><i class="far fa-envelope"></i> <a class="color-white"
              href="mailto:info@johndoe.com">info@johndoe.com</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <h6>Links</h6>
        <ul>
          <li><a href="#">Quinoa</a></li>
          <li><a href="#">Palo Santo</a></li>
          <li><a href="#">Apple</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <h6>Links</h6>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Condiciones</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </div>

      <div class="col-12 col-sm-6 col-md-3">
        <h6>Siguenos</h6>
        <ul class="social-links mt50">
          <li class="social__item">
            <a href="https://www.facebook.com/Drake/" target="_blank"><i class="fab fa-facebook"></i></a>
          </li>
          <li class="social__item">
            <a href="https://www.instagram.com/drakeovodaily/" target="_blank"><i class="fab fa-instagram"></i></a>
          </li>
          <li class="social__item">
            <a href="https://twitter.com/Drake" target="_blank"><i class="fab fa-twitter"></i></a>
          </li>
        </ul>
        <div class="clearfix my-2"></div>

      </div>
    </div>
  </div>
</footer>

<div class="container-fluid copy">
  <div class="row">
    <div class="col text-center">
      <p>&copy; 2019 <strong>Company name</strong><span class="ml-5">
          Powered by <a href="https://mybooking.es/" target="_blank">mybooking</a></span></p>
    </div>
  </div>
</div>

<script src="/assets/js/app.js"></script>
<script src="/assets/js/mybooking-engine-init-activities.js"></script>
<script src="/assets/js/mybooking-engine.js"></script>
<a href="#0" class="cd-top">Top</a>
</body>

</html>