// $jQuery-ui
@import "vendor/jquery.ui.custom/jquery-ui-1.9.2.custom.scss";
// $Bootstrap
@import "vendor/bootstrap/core";
// $Fontawesome
@import "vendor/font-awesome/main";
// $Parts
@import "parts/index";

// Random clases...

// Random clases...
.conditions h2 {
  font-size: 1.2rem;
  color: $brand-primary;
}

.shadow-bottom {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 5px 5px 4px 4px;
}

.total-price {
  font-size: 2rem;
  font-weight: 700;
}

.ui-datepicker {
  z-index: 5000 !important;
}

.counter {
  .center {
    width: 150px;
    margin: 40px auto;
  }
}

// Utilities
.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}
// Nav language selector
a.es,
a.ca,
a.it,
a.en {
  display: none;
}
a.es.visible,
a.ca.visible,
a.it.visible,
a.en.visible {
  display: block;
}
// Google Autocomplete
.pac-container {
    z-index: 10000 !important;
}

/* DATEPICKER */
.ui-datepicker {
    background-color: $white;
    padding: 5px 10px;
    position: relative;
    width: auto;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.17);
    z-index: 1061 !important;
    margin-top: 15px;
    @media(max-width: 767px) {
        -webkit-overflow-scrolling: touch;
        margin-left: 0 !important;
        left: 0 !important;
        top: 0 !important;
        width: 100vw !important; ;
        position: fixed !important;
        margin-top: 50px;
        height: 100vh !important;
        .ui-datepicker-group{
            width: 100%;
            float: none;
            margin-bottom: 30px;
            .ui-datepicker-next{
                position: absolute;
                top: 0 !important;
                right: 15px !important;
            }
            &.ui-datepicker-group-last{
                padding-bottom: 60px;
                .ui-datepicker-calendar{
                    border-left: 0 !important;
                }
            }
        }
        .ui-datepicker-header-desktop{
             padding-bottom: 10px;
        }         
    }
}

@media(max-width: 767px) {
  .ui-widget-content {
      border: none 
  }

  .ui-corner-all {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;

  }
}

.close-calendar {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background-color: #FFF;
    height: 50px;
    padding: 15px 20px;
    border-bottom: 3px solid #e33531;
    display: none !important;
    opacity: 0;
    transition: opacity 1s;
    z-index: 1062 !important;
}

@media (max-width: 767px) {
  .visible-xs {
      display: block !important;
  }
}

.visible-xs, .visible-sm, .visible-md, .visible-lg {
    display: none !important;
}

.ui-datepicker .ui-datepicker-header {
    background: none;
}


