<!-- Script detailed product for choose_product -->
<script type="text/tpml" id="script_detailed_product">
  <div class="cards-rideon-container">
  <% for (var idx=0;idx<products.length; idx++) { %>
    <% var product = products[idx]; %>
    <div class="card-rideon-wrapper">
    <div class="card-rideon">
        <div class="card-rideon-header">
          <div class="card-rideon-header_left">
            <p class="product-name"><%=product.name%></p>
            <img class="img-fluid" src="<%=product.photo%>">
          </div>
          <div class="card-rideon-header_right">
            <p class="unit-price-title">Al día</p>
            <div class="unit-price"><%=configuration.formatCurrency(product.unit_price)%></div>
            <% if (product.price != product.base_price) { %>
              <% if (product.offer_discount_type == 'percentage') { %>
                <p class="offer"><%=new Number(product.offer_value)%>%<s><%= configuration.formatCurrency(product.base_price)%></s></small></span></p>
                <p class="product-price"><%=configuration.formatCurrency(product.price)%></p>
              <% } %>
            <% } else { %>
              <p>Total alquiler</p>
              <p class="product-price"><%=configuration.formatCurrency(product.price)%></p>
              <p>Cancelación gratuita</p>               
            <% } %>
            <div type="button" class="info-btn" data-toggle="modal" data-target="#infoModal">
              <i class="fas fa-plus"></i>
              <span> INFO</span> 
            </div>
        
        </div>
      </div>

        <div class="coverages">
          <p class="coverages-title">¡Añádele cobertura a todo riesgo!</p>
          <ul class="coverage-list">
            <li>Cobertura rider</li>
            <li>Cobertura prorider</li>
            <li>Cobertura premium</li>
          </ul>
        </div>
 
            <% if (product.availability) { %>
            <a class="rideon-card-btn btn-choose-product" data-product="<%=product.code%>">Reservar</a>
            <% } else { %>
            <div class="not-available"><%= choose_product.model_not_available %></div>
            <% } %> 

            <% if (product.few_available_units) { %>
              <p class="text-danger mt-3"><%= choose_product.low_stock %></p>
            <% } %>
  

      </div>
    </div>
    <% } %>
  </div>
  </script>

<!-- More info modal -->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">More info Modal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>