<!-- FLEX-FORM-MODIFY MODAL -->
<!-- Modal -->
<div class="modal fade" id="choose_productModal" tabindex="-1" role="dialog" aria-labelledby="choose_productModal"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content  bg-gray-400">
      <div class="modal-header">
        <h5 class="modal-title"><%= choose_product.modify_reservation %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form name="search_form" method="get" enctype="application/x-www-form-urlencoded" class="flex-form"
        autocomplete="off">
        <div class="flex-form-item-box">
          <label><%= choose_product.pickup_place %></label>
          <div class="flex-form-item">
            <select id="pickup_place" name="pickup_place"></select>
            <i class="fa fa-angle-down flex-icon"></i>
          </div>
          <!-- Custom delivery place -->
          <div id="another_pickup_place_group" style="display: none;">
            <input class="w-100 bg-white" type="text" id="pickup_place_other" name="pickup_place_other" />
            <input type="hidden" name="custom_pickup_place" value="false" />
          </div>
        </div>
        <div class="flex-form-item-box">
          <label><%= choose_product.return_place %></label>
          <div class="flex-form-item">
            <select id="return_place" name="return_place">
            </select>
            <i class="fa fa-angle-down flex-icon"></i>
          </div>
          <!-- Custom collection place -->
          <div id="another_return_place_group" style="display: none;">
            <input class="w-100 bg-white" type="text" id="return_place_other" name="return_place_other" />
            <input type="hidden" name="custom_return_place" value="false" />
          </div>
        </div>
        <div class="flex-form-item-box">
          <label><%= choose_product.date_from %></label>
          <div class="flex-form-item">
            <i class="fa fa-calendar flex-icon" aria-hidden="true"></i>
            <input type="text" id="date_from" name="date_from" placeholder="dd/mm/aaaa" />
            <select class="ml-1" id="time_from" name="time_from">
            </select>
          </div>
        </div>
        <div class="flex-form-item-box">
          <label><%= choose_product.date_to %></label>
          <div class="flex-form-item">
            <i class="fa fa-calendar flex-icon" aria-hidden="true"></i>
            <input type="text" id="date_to" name="date_to" placeholder="dd/mm/aaaa" />
            <select class="ml-1" id="time_to" name="time_to">
            </select>
          </div>
        </div>
        <div class="flex-form-item-box mt-3">
          <input class="btn btn-primary btn-block" type="submit" value="<%= choose_product.new_search %>" />
        </div>
      </form>
    </div>
  </div>
</div>