<!-- Script detailed for reservation summary -->
<script type="text/tmpl" id="script_reservation_summary">
  <div class="bg-white p-3 mb-4 shadow-bottom d-flex justify-content-between detail-reservation-mini">
  <div>
  <p class="color-gray-700"><span><i class="fa fa-calendar mr-1" aria-hidden="true"></i></span><%=shopping_cart.date_from_full_format%> / <%=shopping_cart.time_from%></p>
  <p class="color-gray-700 mb-0"><span><i class="fa fa-map-marker mr-1" aria-hidden="true"></i></span><%=shopping_cart.pickup_place_customer_translation%></p>
  </div>
  <div class="reservation-summary-separator"></div>
  <div>
  <p class="color-gray-700"><span><i class="fa fa-calendar mr-1" aria-hidden="true"></i></span><%=shopping_cart.date_to_full_format%> / <%=shopping_cart.time_to%></p>
  <p class="color-gray-700 mb-0"><span><i class="fa fa-map-marker mr-1" aria-hidden="true"></i></span><%=shopping_cart.return_place_customer_translation%></p>
  </div>
  <div>
  <!-- Button trigger modal -->
  <button id="modify_reservation_button" class="btn btn-outline-dark" data-toggle="modal" data-target="#choose_productModal"><i class="far fa-edit"></i></button>
  </div>
  </div>
</script>