<!-- FLEX-FORM-SELECTOR -->
<section class="widget widget_mybooking_rent_engine_selector reservation-step">
  <form id="form-selector" name="widget_search_form" method="get" 
        enctype="application/x-www-form-urlencoded" class="flex-form"
        autocomplete="off">
    <div class="flex-form-item-box">
      <label><%= index.pickup_place %></label>
      <div class="flex-form-item">
        <select id="widget_pickup_place" name="pickup_place"></select>
        <i class="fa fa-angle-down flex-icon"></i>
      </div>
    </div>
    <div class="flex-form-item-box">
      <label><%= index.return_place %></label>
      <div class="flex-form-item">
        <select id="widget_return_place" name="return_place">
        </select>
        <i class="fa fa-angle-down flex-icon"></i>
      </div>
    </div>
    <div class="flex-form-item-box">
      <label><%= index.date_from %></label>
      <div class="flex-form-item">
        <i class="fa fa-calendar flex-icon" aria-hidden="true"></i>
        <input type="text" id="widget_date_from" name="date_from" placeholder="dd/mm/aaaa"/>
        <select class="ml-1" id="widget_time_from" name="time_from">
        </select>
      </div>
    </div>
    <div class="flex-form-item-box">
      <label><%= index.date_to %></label>
      <div class="flex-form-item">
        <i class="fa fa-calendar flex-icon" aria-hidden="true"></i>
        <input type="text" id="widget_date_to" name="date_to" placeholder="dd/mm/aaaa"/>
        <select class="ml-1" id="widget_time_to" name="time_to">
        </select>
      </div>
    </div>
    <div class="flex-form-item-box">
      <input type="submit" class="btn btn-primary" value="<%= index.search_button %>" />
    </div>
  </form>
</section>