<!-- FLEX-FORM-SELECTOR -->
<section class="widget widget_mybooking_rent_engine_selector reservation-step">
  <form id="form-selector" name="widget_search_form" method="get" enctype="application/x-www-form-urlencoded"
    class="flex-form" autocomplete="off">
    <div class="flex-form-item-box position-relative">
      <label><%= index.pickup_place %></label>
      <div class="button-group-pills text-center" data-toggle="buttons">
          <label class="btn-pill">
            <input type="checkbox" id="widget_same_pickup_return_place" name="same_pickup_return_place" checked class="d-none">
            <div>Devolver en el mismo lugar</div>
          </label>
      </div>
      
      <!--input type="checkbox" id="widget_same_pickup_return_place" name="same_pickup_return_place" checked-->

      <div class="flex-form-item widget_pickup_place_group">
        <select id="widget_pickup_place" name="pickup_place"></select>
        <i class="fa fa-angle-down flex-icon"></i>
      </div>
      <!-- Custom delivery place -->
      <div id="another_pickup_place_group" style="display: none;">
        <div class="flex-form-item justify-content-between">
          <input class="bg-white w-100" type="text" id="widget_pickup_place_other" name="pickup_place_other" />
          <input type="hidden" name="custom_pickup_place" value="false" />
          <button type="button" class="widget_another_pickup_place_group_close p-0">
            <i class="fa fa-times flex-icon"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="flex-form-item-box">
      <label class="return_place" style="display: none"><%= index.return_place %></label>
      <div class="flex-form-item widget_return_place_group return_place" style="display: none">
        <select id="widget_return_place" name="return_place">
        </select>
        <i class="fa fa-angle-down flex-icon"></i>
      </div>
      <!-- Custom delivery place -->
      <div id="another_return_place_group" style="display: none;" class="return_place">
        <div class="flex-form-item bg-white justify-content-between">
          <input class="bg-white" type="text" id="widget_return_place_other" name="return_place_other" />
          <input type="hidden" name="custom_return_place" value="false" />
          <button type="button" class="widget_another_return_place_group_close p-0">
            <i class="fa fa-times flex-icon"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="flex-form-item-box">
      <label><%= index.date_from %></label>
      <div class="flex-form-item">
        <i class="fa fa-calendar flex-icon" aria-hidden="true"></i>
        <input type="text" id="widget_date_from" name="date_from" placeholder="dd/mm/aaaa" />
        <select class="ml-1" id="widget_time_from" name="time_from">
        </select>
      </div>
    </div>
    <div class="flex-form-item-box">
      <label><%= index.date_to %></label>
      <div class="flex-form-item">
        <i class="fa fa-calendar flex-icon" aria-hidden="true"></i>
        <input type="text" id="widget_date_to" name="date_to" placeholder="dd/mm/aaaa" />
        <select class="ml-1" id="widget_time_to" name="time_to">
        </select>
      </div>
    </div>
    <div class="flex-form-item-box">
      <input type="submit" class="btn btn-primary" value="<%= index.search_button %>" />
    </div>
  </form>
</section>