<!-- Reservation steps -->
<div class="steps-wrapper">
        <div id="steps">
          {{#ifpage 'index'}}
          <div data-desc="<%= steps.step_1 %>" class="active step">1</div>
          {{/ifpage}}
          {{#unlesspage 'index'}}
          <div data-desc="<%= steps.step_1 %>" class="step">1</div>
          {{/unlesspage}}
          {{#ifpage 'choose_product'}}
          <div data-desc="<%= steps.step_2 %>" class="active step">2</div>
          {{/ifpage}}
          {{#unlesspage 'choose_product'}}
          <div data-desc="<%= steps.step_2 %>" class="step">2</div>
          {{/unlesspage}}
          {{#ifpage 'complete'}}
          <div data-desc="<%= steps.step_3 %>" class="active step">3</div>
          {{/ifpage}}
          {{#unlesspage 'complete'}}
          <div data-desc="<%= steps.step_3 %>" class="step">3</div>
          {{/unlesspage}}
          {{#ifpage 'summary'}}
          <div data-desc="<%= steps.step_4 %>" class="active step">4</div>
          {{/ifpage}}
          {{#unlesspage 'summary'}}
          <div data-desc="<%= steps.step_4 %>" class="step">4</div>
          {{/unlesspage}}
        </div>
        <h4 class="active-step color-gray-600 mr-3"><%= {{ active_step }} %></h4>
</div>
