---
layout: default
meta-title: Choose product
active_step: steps.step_2
---

{{> cta }}
{{> nav }}

<!-- Reservation steps -->
{{> steps }}

<!-- Result -->

<div class="bg-gray-200 py-5 full-height">
<!-- Reservation : Pickup/Return information -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-3">
        <div id="reservation_detail"></div>
      </div>
      <div class="col-12 col-lg-8">
        <div id="product_listing" class="mb-5"></div>
      </div>
    </div>
  </div>
</div>

<!-- Script detailed product for choose_product -->
{{> product-card-horizontal }}

<!-- Script detailed for reservation summary -->
<script type="text/tmpl" id="script_reservation_summary">
  <div class="bg-white p-3 mb-5 shadow-bottom">
  <h4 class="title-small my-3"><%= choose_product.reservation_summary_title %></h4>
  <h5><%= choose_product.reservation_summary_pickup %></h5>
  <p class="color-gray-700"><span><i class="fa fa-calendar mr-1" aria-hidden="true"></i></span><%=shopping_cart.date_from_full_format%> / <%=shopping_cart.time_from%></p>
  <p class="color-gray-700"><span><i class="fa fa-map-marker mr-1" aria-hidden="true"></i></span><%=shopping_cart.pickup_place_customer_translation%></p>
  <hr>
  <h5><%= choose_product.reservation_summary_return %></h5>
  <p class="color-gray-700"><span><i class="fa fa-calendar mr-1" aria-hidden="true"></i></span><%=shopping_cart.date_to_full_format%> / <%=shopping_cart.time_to%></p>
  <p class="color-gray-700"><span><i class="fa fa-map-marker mr-1" aria-hidden="true"></i></span><%=shopping_cart.return_place_customer_translation%></p>
  <hr>
  <!-- Button trigger modal -->
  <button id="modify_reservation_button" class="btn btn-outline-dark" data-toggle="modal" data-target="#choose_productModal"><%= choose_product.modify_reservation %></button> 
  </div>
</script>

{{> modal_modify_reservation }}