---
layout: default
active_step: steps.step_3
---

{{> cta }}
{{> nav }}

<!-- Reservation steps -->
{{> steps }}

<!-- Reservation : Selected product -->
<div id="selected_product" class="sticky-top"></div>
<!-- Reservation detail modal inside selected product -->
<div id="reservation_detail"></div>

<!-- Extras and complete form -->
<div class="bg-gray-200">
  <div class="container">
    <div class="row">
      <div class="col-md-12 bg-white shadow-bottom py-3 px-3 mt-5">
        <!-- Reservation : Extras -->
        <h4 class="title-small my-3"><%= complete.extras_title %></h4>
        <div id="extras_listing"></div>
      </div>
      <div class="col-md-12 bg-white shadow-bottom py-3 px-3 mt-3 mb-5 custom-form">
        <!-- Reservation complete form -->
        <form id="form-reservation" name="reservation_form">
          <h4 class="brand-primary my-3"><%= complete.customer_title %></h4>
          <div class="form-row">
            <div class="form-group col-lg-6">
              <label for="name"><%= complete.field_customer_name %> *</label>
              <input class="form-control" id="customer_name" name="customer_name" type="text"
                placeholder="<%= complete.field_customer_name %>">
            </div>
            <div class="form-group col-lg-6">
              <label for="surname"><%= complete.field_customer_surname %> *</label>
              <input class="form-control" id="customer_surname" name="customer_surname" type="text"
                placeholder="<%= complete.field_customer_surname %>">
            </div>
            <div class="form-group col-lg-6">
              <label for="email"><%= complete.field_customer_email %> *</label>
              <input class="form-control" id="customer_email" name="customer_email" type="text"
                placeholder="<%= complete.field_customer_email %>">
            </div>
            <div class="form-group col-lg-6">
              <label for="confirm_customer_email"><%= complete.field_customer_email_confirm %> *</label>
              <input class="form-control" id="confirm_customer_email" name="confirm_customer_email" type="text"
                placeholder="<%= complete.field_customer_email_confirm %>">
            </div>
            <div class="form-group col-lg-6">
              <label for="phone"><%= complete.field_customer_main_phone_number %> *</label>
              <input class="form-control" id="customer_phone" name="customer_phone" type="text"
                placeholder="<%= complete.field_customer_main_phone_number %>">
            </div>
            <div class="form-group col-lg-6">
              <label for=""><%= complete.field_customer_alternative_phone_number %></label>
              <input class="form-control" id="customer_mobile_phone" name="customer_mobile_phone" type="text"
                placeholder="<%= complete.field_customer_alternative_phone_number %>">
            </div>
          </div>
          <h4 class="brand-primary my-3"><%= complete.additional_information_title %></h4>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="comments"><%= complete.field_comments %></label>
              <textarea name="comments" id="comments" placeholder="<%= complete.field_comments %>"
                style="width: 100%; height: 100px; padding: 0.8rem;"></textarea>
            </div>
          </div>
          <!-- Reservation : payment -->
          <div id="payment_detail"></div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Complete summary sticky bar -->
<script type="text/tpml" id="script_product_detail">
  <div class="complete-summary-sticky-wrapper">
    <div class="complete-summary-sticky">
      <div class="complete-summary-left">
        <div class="complete-summary-item">
            <!-- primer bloque Recogida -->
            <p class="color-gray-500"><%=shopping_cart.pickup_place_customer_translation%></p>
            <p class="color-white"><%=shopping_cart.days%> <%= complete.rental_days %></p>
        </div>
        <!-- Button trigger modal -->
        <div class="modify-button">
          <button id="modify_reservation_button" data-toggle="modal" data-target="#choose_productModal"><i class="far fa-edit"></i></button>
        </div>
      </div>
      <div class="complete-summary-right">
        <div class="complete-summary-item">
            <p class="color-gray-500">Total</p>
            <p class="color-white"><%=configuration.formatCurrency(shopping_cart.total_cost)%></p>
        </div>
        <!-- Button trigger modal -->
        <div class="modify-button">
          <button data-toggle="modal" data-target="#viewReservationModal">
            <i class="fas fa-info-circle"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</script>

<!-- Modal Reservation summary -->
<script type="text/tmpl" id="script_reservation_summary">
  {{> modal_reservation_summary }}
  <!-- Descktop reservation detail -->
  <div class="product-detail-container d-none d-md-flex">
    <div class="product-detail-content">
      <% for (var idx=0; idx<shopping_cart.items.length; idx++) { %>
        <h2 class="product-name"><%=shopping_cart.items[idx].item_description_customer_translation%></h2>
        <p class="detail-text">
          <%= summary.rental_duration %>: <%=shopping_cart.days%> <%= summary.rental_days %></p>
      <% } %>
      <h5><%= summary.reservation_summary_pickup %></h5>
      <ul>
        <li><%=shopping_cart.date_from_full_format%> / <%=shopping_cart.time_from%></li>
        <li><%=shopping_cart.pickup_place_customer_translation%></li>
      </ul>
      <h5 class="mt-3"><%= summary.reservation_summary_return %></h5>
      <ul>
        <li><%=shopping_cart.date_to_full_format%> / <%=shopping_cart.time_to%></li>
        <li><%=shopping_cart.return_place_customer_translation%></li>
      </ul>
    </div>
    <div class="product-detail-image">
      <% for (var idx=0; idx<shopping_cart.items.length; idx++) { %>
        <img class="img-fluid" src="<%=shopping_cart.items[idx].photo_full%>" alt="">
      <% } %>
    </div>
  </div>
</script>

<!-- Extra representation -->
<script type="text/tmpl" id="script_detailed_extra">
  <div class="extras-container">
  <% for (var idx=0;idx<extras.length;idx++) { %>
    <% var extra = extras[idx]; %>
    <div class="extra-wrapper">
      <div class="extra-image">
        <% if (extra.photo_path != null) { %>
          <img src="<%=extra.photo_path%>" class="card-img" />
        <% } %>
      </div>
      <div class="extra-content">
          <h6 class="lead"><%=extra.name%></h6>
              <% if (extra.max_quantity > 1) { %>
                <div class="input-group input-group-sm" style="width:90px;">
                    <div class="input-group-prepend">
                      <button class="btn btn-outline-secondary btn-minus-extra"
                        data-value="<%=extra.code%>"
                        data-max-quantity="<%=extra.max_quantity%>">-</button>
                    </div>
                    <% value = (extrasInShoppingCart[extra.code]) ? extrasInShoppingCart[extra.code] : 0; %>
                    <input type="text" id="extra-<%=extra.code%>-quantity"
                        class="form-control disabled text-center extra-input" value="<%=value%>" data-extra-code="<%=extra.code%>"/>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary btn-plus-extra"
                        data-value="<%=extra.code%>"
                        data-max-quantity="<%=extra.max_quantity%>">+</button>
                      </div>
                </div>
              <% } else { %>
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input extra-checkbox" id="checkboxl<%=extra.code%>" data-value="<%=extra.code%>" <% if (extrasInShoppingCart[extra.code] &&  extrasInShoppingCart[extra.code] > 0) { %> checked="checked" <% } %>>
                  <label class="custom-control-label" for="checkboxl<%=extra.code%>"></label>
                </div>
              <% } %>
              <p class="fw-700 mt-2"><%= configuration.formatCurrency(extra.unit_price)%></p>
      </div>
    </div>
  <% } %>
  </div>
</script>

<!-- Payment detail -->
<script type="text/tmpl" id="script_payment_detail">
  <input type="hidden" name="payment" value="none">
    <%  
       var paymentAmount = 0;
       var selectionOptions = 0;

       if (sales_process.can_request) { 
         selectionOptions += 1;
       }  
       
       if (sales_process.can_pay_on_delivery) { 
         selectionOptions += 1;
       } 
       
       if (sales_process.can_pay) {
         selectionOptions += 1;
         if (sales_process.can_pay_deposit) {
            paymentAmount = shopping_cart.booking_amount;
         }
         else {
            paymentAmount = shopping_cart.total_cost;
         }
       } 
    %>

    <% if (selectionOptions > 1) { %>
      <hr>
      <div class="form-row">  
         <% if (sales_process.can_request) { %>
           <div class="form-group col-md-12">
             <label for="payments_paypal_standard">
              <input type="radio" name="complete_action" value="request_reservation" class="complete_action">&nbsp;<%= complete.request_reservation %>
             </label>
           </div>
         <% } %>
         <% if (sales_process.can_pay_on_delivery) { %>
           <div class="form-group col-md-12">
             <label for="payments_paypal_standard">
              <input type="radio" name="complete_action" value="pay_on_delivery" class="complete_action">&nbsp;<%= complete.pay_on_delivery %>
             </label>
           </div>
         <% } %>
         <% if (sales_process.can_pay) { %>
         <div class="form-group col-md-12">
           <label for="payments_paypal_standard">
            <input type="radio" name="complete_action" value="pay_now" class="complete_action">&nbsp;<%= complete.pay_now %>
           </label>
         </div>
         <% } %>
      </div>         
    <% } %>

    <!-- Request reservation -->

    <% if (sales_process.can_request) { %>
    <div id="request_reservation_container" <% if (selectionOptions > 1 || !sales_process.can_request) { %>style="display:none"<%}%>>

        <div class="border p-4">
          <div class="form-row">  
            <div class="form-group col-md-12">
              <label for="payments_paypal_standard">
                <input type="checkbox" id="conditions_read_request_reservation" name="conditions_read_request_reservation">&nbsp;<%= complete.confirm_conditions %>
              </label>
            </div>
          </div>   
          
          <div class="form-row">
            <div class="form-group col-md-12">
              <button type="submit" class="btn btn-outline-dark"><%= complete.request_reservation %></button>
            </div>
          </div>
        </div>

    </div>
    <% } %>

    <% if (sales_process.can_pay) { %>
        
        <% if (sales_process.can_pay_on_delivery) { %>
        <!-- Pay on delivery -->
        <div id="payment_on_delivery_container" <% if (selectionOptions > 1 || !sales_process.can_pay_on_delivery) { %>style="display:none"<%}%>>

            <div class="border p-4">
                <div class="form-row">  
                  <div class="form-group col-md-12">
                    <label for="payments_paypal_standard">
                      <input type="checkbox" id="conditions_read_payment_on_delivery" name="conditions_read_payment_on_delivery">&nbsp;<%= complete.confirm_conditions %>
                    </label>
                  </div>
                </div>   

                <div class="form-row">
                  <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-outline-dark"><%= complete.confirm %></button>
                  </div>
                </div>  
            </div>

        </div>
        <% } %>

        <!-- Pay now -->

        <div id="payment_now_container" <% if (selectionOptions > 1 || !sales_process.can_pay) { %>style="display:none"<%}%>>

            <div class="border p-4">
                <h4><%=i18next.t('complete.reservationForm.total_payment', {amount: configuration.formatCurrency(paymentAmount)})%></h4>
                <br>

                <!-- Payment amount -->

                <div class="alert alert-info">
                   <p><%=i18next.t('complete.reservationForm.booking_amount',{amount: configuration.formatCurrency(paymentAmount)})%></p>
                </div>

                <% if (sales_process.payment_methods.paypal_standard && 
                       sales_process.payment_methods.tpv_virtual) { %>
                    <div class="form-row">  
                       <div class="form-group col-md-12">
                         <label for="payments_paypal_standard">
                          <input type="radio" id="payments_paypal_standard" name="payment_method_select" class="payment_method_select" value="paypal_standard">&nbsp;<%= complete.paypal %>
                          <img src="/assets/images/pm-paypal.jpg"/>
                         </label>
                       </div>
                       <div class="form-group col-md-12">
                         <label for="payments_credit_card">
                          <input type="radio" id="payments_credit_card" name="payment_method_select" class="payment_method_select" value="<%=sales_process.payment_methods.tpv_virtual%>">&nbsp;<%= complete.credit_card %>
                          <img src="/assets/images/pm-visa.jpg"/>
                          <img src="/assets/images/pm-mastercard.jpg"/>
                         </label>
                       </div>
                    </div>  
                    <div id="payment_method_select_error" class="form-row">
                    </div> 
                <% } else if (sales_process.payment_methods.paypal_standard) { %>
                    <img src="/assets/images/pm-paypal.jpg"/>
                    <input type="hidden" id="payment_method_value" value="paypal_standard">
                <% } else if (sales_process.payment_methods.tpv_virtual) { %> 
                    <img src="/assets/images/pm-mastercard.jpg"/>
                    <img src="/assets/images/pm-visa.jpg"/>
                    <input type="hidden" id="payment_method_value" value="<%=sales_process.payment_methods.tpv_virtual%>">
                <% } %>

                <hr>
                <div class="form-row">  
                  <div class="form-group col-md-12">
                    <label for="payments_paypal_standard">
                      <input type="checkbox" id="conditions_read_pay_now" name="conditions_read_pay_now">&nbsp;<%= complete.confirm_conditions %>
                    </label>
                  </div>
                </div>   

                <div class="form-row">
                  <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-outline-dark"><%=i18next.t('complete.reservationForm.payment_button',{amount: configuration.formatCurrency(paymentAmount)})%></a>
                  </div>
                </div>   
            </div>

        </div>
    <% } %>

</script>

{{> modal_modify_reservation }}