---
layout: default
meta-title: Index
body-classes: "mybooking-selector-widget"
---

<div class="hero-header-container">
  {{> cta }}
  {{> nav }}
  <div class="hero-header-content">
    <div class="hero-header-left">
      <div class="aligner">
        <h1 class="fw-900"><%= index.slogan_title %></h1>
        <p>
          <%= index.slogan_text %>
        </p>
      </div>
    </div>
    <div class="hero-header-right">
      {{> selector }}
    </div>
  </div>
  <div class="diagonal-section"></div>
</div>

<div class="title-wrapper">
  <div class="title">
    <h1 class="fw-900"><%= index.featured_section_title %></h1>
    <hr class="center-hr">
    </hr>
    <p>
      <%= index.featured_section_text %>
    </p>
  </div>
</div>

<div class="icons-wrapper mt100">
  <div class="icon-panel icon-1">
    <i class="fas fa-gas-pump"></i><br />
    <h6><%= index.feature_1 %></h6>
  </div>
  <div class="icon-panel icon-2">
    <i class="fas fa-wallet"></i><br />
    <h6><%= index.feature_2 %></h6>
  </div>
  <div class="icon-panel icon-3">
    <i class="fas fa-credit-card"></i><br />
    <h6><%= index.feature_3 %></h6>
  </div>
  <div class="icon-panel icon-4">
    <i class="fas fa-users"></i><br />
    <h6><%= index.feature_4 %></h6>
  </div>
</div>

<div class="gradient-section">
  <div class="title-wrapper">
    <div class="title">
      <h1 class="color-white fw-900"><%= index.featured_section_2_title %></h1>
      <hr class="center-hr-white"></hr>
      <p class="color-white">
          <%= index.featured_section_2_text %>
      </p>
    </div>
  </div>

  <div class="text-center">
    <img class="img-fluid" src="{{root}}../assets/images/three-cars.png" alt="" />
  </div>

  <div class="feature">
    <div class="features__item">
      <span class="stopa stopa-1">1</span>
      <h3><%= index.feature_title_1 %></h3>
      <hr />
      <p>
          <%= index.feature_text_1 %>
      </p>
    </div>
    <div class="features__item">
      <span class="stopa stopa-2">2</span>
      <h3><%= index.feature_title_2 %></h3>
      <hr />
      <p>
        <%= index.feature_text_2 %>
      </p>
    </div>
    <div class="features__item">
      <span class="stopa stopa-3">3</span>
      <h3><%= index.feature_title_3 %></h3>
      <hr />
      <p>
          <%= index.feature_text_3 %>
      </p>
    </div>
  </div>
</div>