<!-- Script detailed product for choose_product -->
<script type="text/tpml" id="script_detailed_product">
  <div class="magic-cards-container">
  <% for (var idx=0;idx<products.length; idx++) { %>
    <% var product = products[idx]; %>
    <div class="magic-card-wrapper">
    <div class="magic-card">
        <header class="magic-card-header">
          <div class="product-name-and-short-description">
            <p class="product-name"><%=product.name%></p>
            <p class="product-short-description"><%=product.short_description%></p>
          </div>
          <i type="button" class="fas fa-info-circle" data-toggle="modal" data-target="#infoModal"></i>
        </header>
        <div class="separator"></div>
        <section class="footer-card">
          <div class="img-wrapper">
        <img src="<%=product.photo%>" class="product-image"></div>
            <div class="variable-content">
              <% if (product.price != product.base_price) { %>
                <% if (product.offer_discount_type == 'percentage') { %>
                  <p class="offer"><%=new Number(product.offer_value)%>% <%=product.offer_name%><span><small class="text-muted ml-2"><s><%= configuration.formatCurrency(product.base_price)%></s></small></span></p>
                <% } %>
              <% } %>
            </div>

            <% if (product.key_characteristics) { %> 
                <div class="key-characteristics">
                  <% for (characteristic in product.key_characteristics) { %>
                  <div class="key-icon">
                    <img src="assets/images/key_characteristics/<%=characteristic%>.svg"/>
                    <p><%=product.key_characteristics[characteristic]%></p>  
                  </div>
                
                  <% } %>
                </div>
            <% } %>

            <div class="push-down">
            <p class="product-price"><%=configuration.formatCurrency(product.price)%></p>

            <% if (product.availability) { %>
            <a class="btn btn-dark btn-choose-product" data-product="<%=product.code%>"><%= choose_product.select %></a>
            <% } else { %>
            <div class="not-available"><%= choose_product.model_not_available %></div>
            <% } %> 

            <% if (product.few_available_units) { %>
              <p class="text-danger mt-3"><%= choose_product.low_stock %></p>
            <% } %>
            
            </div>
        </section>
    </div>
  </div>
    <% } %>
  </div>
  </script>

<!-- More info modal -->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">More info Modal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>