<!-- Script detailed product for choose_product -->
<script type="text/tpml" id="script_detailed_product">
  <div class="magic-card-horizontal-wrapper">
  <% for (var idx=0;idx<products.length; idx++) { %>
    <% var product = products[idx]; %>
    <div class="magic-card-horizontal">
      <div class="magic-card-horizontal_image">
          <img src="<%=product.photo%>">
      </div>
      <div class="magic-card-horizontal_body">
        <div class="magic-card-horizontal_body-left">
          <div>
          <h6 class="row-card-product-name"><%=product.name%></h6>
          <h7 class="row-card-product-short-description"><%=product.short_description%></h7>
          </div>
          <% if (product.price != product.base_price) { %>
            <% if (product.offer_discount_type == 'percentage') { %>
              <p class="color-gray-500"><%=new Number(product.offer_value)%>% <%=product.offer_name%><span><small class="text-muted ml-2"><s><%= configuration.formatCurrency(product.base_price)%></s></small></span></p>
            <% } %>
          <% } %>
          <% if (product.few_available_units) { %>
            <p class="text-danger mt-3"><%= choose_product.low_stock %></p>
          <% } %>
          <div class="magic-card-horizontal_price">
            <h2><%=configuration.formatCurrency(product.price)%></h2>
          </div>
        </div>
        <div class="magic-card-horizontal_body-right">
          <i type="button" class="fas fa-info-circle" data-toggle="modal" data-target="#infoModal"></i>
          <div class="magic-card-horizontal_icons">
            <% if (product.key_characteristics) { %> 
              <% for (characteristic in product.key_characteristics) { %>
                <div class="magic-icon">
                  <img src="assets/images/key_characteristics/<%=characteristic%>.svg"/>
                  <span><%=product.key_characteristics[characteristic]%> </span>
                </div>
              <% } %>
            <% } %>
          </div>
          <% if (product.availability) { %>
            <a class="magic-button btn btn-choose-product" data-product="<%=product.code%>"><%= choose_product.select %></a>
            <% } else { %>
            <p><%= choose_product.model_not_available %></p>
          <% } %>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</script>

<!-- Modal -->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">More info Modal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>