<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-3">
        <div class="logo-footer"></div>
        <ul>
          <li>{{ global.company }}</li>
          <li>{{ global.cif }}</li>
          <li>{{ global.adress }}</li>
          <li>{{ global.postal_code }} {{ global.city }}</li>
          <li>{{ global.province }}</li>
          <li><i class="fas fa-phone"></i> {{ global.phone }}</li>
          <li><i class="far fa-envelope"></i> <a class="color-white"
              href="mailto:{{ global.email }}">{{ global.email }}</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <h6>Links</h6>
        <ul>
          <li><a href="#">Quinoa</a></li>
          <li><a href="#">Palo Santo</a></li>
          <li><a href="#">Apple</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-3">
        <h6>Links</h6>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Condiciones</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </div>

      <div class="col-12 col-sm-6 col-md-3">
        <h6>Siguenos</h6>
        <ul class="social-links mt50">
          <li class="social__item">
            <a href="{{ global.facebook }}" target="_blank"><i class="fab fa-facebook"></i></a>
          </li>
          <li class="social__item">
            <a href="{{ global.instagram }}" target="_blank"><i class="fab fa-instagram"></i></a>
          </li>
          <li class="social__item">
            <a href="{{ global.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a>
          </li>
        </ul>
        <div class="clearfix my-2"></div>

      </div>
    </div>
  </div>
</footer>

<div class="container-fluid copy">
  <div class="row">
    <div class="col text-center">
      <p>&copy; 2019 <strong>{{ global.company }}</strong><span class="ml-5">
          Powered by <a href="https://mybooking.es/" target="_blank">mybooking</a></span></p>
    </div>
  </div>
</div>

<script src="/assets/js/app.js"></script>
{{#ifpage 'activity' 'activity2' 'activity-shopping-cart' 'order' }}
<script src="/assets/js/mybooking-engine-init-activities.js"></script>
{{/ifpage}}
{{#unlesspage 'activity' 'activity2' 'activity-shopping-cart' 'order'}}
<script src="/assets/js/mybooking-engine-init.js"></script>
{{/unlesspage}}
<script src="/assets/js/mybooking-engine.js"></script>
<a href="#0" class="cd-top">Top</a>
</body>

</html>